/*  your css code here. If applicable */

body{
	background-color : #f5f5f5;
}

.header{
	display : flex;
	width: 640px;
	height : 120px;
	background-color : black;
	color : white;
	justify-content : center;
	align-items : center;
}

.latest-news-section{
	h2{
		text-align : center;
	}
	margin : 10px;
	padding : 10px;
	background-color : white;
	color : black;
	border-radius : 5px;
}

.main-article{
	
	text-align : center;
	margin : 10px;
	padding : 10px;
	background-color : white;
	color : black;
	justify-content : center;
	align-items : center;
	border-radius : 5px;
	
}

.pictorial-news-section{
	text-align : center;
	display-direction : columns;
}







